<div class="row small-gutters my-3">
  <div class="col-md-9">
    <div class="card">
      <h1 class="h2 card-header">Vimeo Metadata</h1>
      <div class="card-body">
        <% if record.vimeo_video_transcode_status == 'in_progress' %>
          <div class="row small-gutters mb-3">
            <div class="col">
              <div class="alert alert-warning" role="alert">
                Vimeo has not finished transcoding this video yet. The CMS will automatically check the Vimeo transcoding status
                every 2 minutes until the video is processed and ready to view.
              </div>
            </div>
          </div>
        <% end %>
        <div class="row small-gutters">
          <div class="col-md-6">
            <p>This media item has a corresponding Vimeo video*</p>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <th>Width</th>
                  <td><%= record.vimeo_metadata['width'] %></td>
                </tr>
                <tr>
                  <th>Height</th>
                  <td><%= record.vimeo_metadata['height'] %></td>
                </tr>
                <tr>
                  <th>Transcode</th>
                  <td><%= record.vimeo_metadata.dig('transcode', 'status') %></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td><%= record.vimeo_metadata['status'] %></td>
                </tr>
                <tr>
                  <th>Is Playable</th>
                  <td><%= record.vimeo_metadata['is_playable'] %></td>
                </tr>
                <% if record.vimeo_metadata['parent_folder'].present? %>
                  <tr>
                    <th>Parent Folder</th>
                    <td><%= record.vimeo_metadata['parent_folder'] %></td>
                  </tr>
                <% end %>
                <tr>
                  <th>Privacy</th>
                  <td><%= record.vimeo_metadata['privacy'].collect { |x| "#{x[0]}: #{x[1]}" }.join('<br>').html_safe %></td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">*If you delete this media item, the video will be automatically removed from Vimeo.</p>
            <%# TODO: add ability to fetch new status from Vimeo manually in case VideoPollJob fails %>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Vimeo link</strong>: <%= link_to record.vimeo_video_link, record.vimeo_video_link, target: '_blank' %>
            </p>
            <% if record.vimeo_metadata['files'].present? %>
              <p>
                <strong>Direct file links</strong>: Use the direct file when embedding directly into an HTML video tag or an mp4 file is required.
              </p>
              <ul>
                <% record.vimeo_metadata['files'].each do |file| %>
                  <% next if file['quality'] == 'hls' %>
                  <% file_size = ", (#{file['size_short']})" if file['size_short'].present? %>
                  <li>
                    <%= link_to "#{file['public_name']}#{file_size}", file['link'], target: '_blank' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
